<!-- <div class="text-layout">
<h1>{{ nombre | uppercase}} </h1>
<h1>{{ valor  | number}} </h1>
<h1>{{ obj | json}} </h1>
</div>
<button pButton
        icon="pi pi-check"
        iconPos="right"
        class="p-button-help"
        label="Cambiar Nombre"
        (click) = "mostrarNombre()">
</button>


<div class="card">
<p-card [header]="nombre | titlecase "
        subheader="Esto es un subheader">
  Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Sapiente ipsum vitae ratione dolore et magni amet explicabo soluta,
  illum ullam, voluptatum eaque harum omnis enim!
</p-card>
</div> -->
<app-menu></app-menu>
<!--Para renderizar las rutas-->
<router-outlet></router-outlet>


